@font-face {
  font-family: "arial-boldmt";
  src: url("../fonts/arial-boldmt.woff2") format("woff2"),
    url("../fonts/arial-boldmt.woff") format("woff"),
    url("../fonts/arial-boldmt.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
