@mixin colorItem($color: $white) {
  width: 50px;
  height: 50px;
  background-color: $color;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
}
@mixin firstLetter() {
  &::first-letter {
    color: $red2;
  }
}
@mixin h1($color: $grey1) {
  color: $color;
  display: inline-block;
  font-size: 6rem;
  font-family: $titleFont;
  line-height: 0.47;
  @include firstLetter();
  @media ($tablet) {
    font-size: 3rem;
  }
}
@mixin logo($color: $grey1) {
  @include h1();
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}
@mixin h2($color: $grey1) {
  @include h1();
  font-size: 4.8rem;
  @media ($tablet) {
    font-size: 2.4rem;
  }
}
@mixin h3($color: $grey1) {
  color: $color;
  font-size: 3.6rem;
  font-family: $titleFont;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.35);
  line-height: normal;
  font-weight: normal;
  @media ($tablet) {
    font-size: 1.8rem;
  }
}
@mixin p1($color: $dark2) {
  font-family: $titleFont;
  font-size: 3.6rem;
  color: $color;
  line-height: 0.78;

  @media ($tablet) {
    font-size: 1.8rem;
  }
}
@mixin p2($color: $grey6) {
  font-family: $titleFont;
  font-size: 2.4rem;
  color: $color;
  line-height: 1.17;
  @media ($tablet) {
    font-size: 1.2rem;
  }
}
@mixin p3($color: $grey1) {
  font-family: $titleFont;
  font-size: 2.8rem;
  color: $color;
  line-height: normal;
  @media ($tablet) {
    font-size: 1.4rem;
  }
}
@mixin p4($color: $grey9, $ln: 1.43) {
  font-family: $mainFont;
  font-size: 2.8rem;
  color: $color;
  line-height: $ln;

  @media ($tablet) {
    font-size: 1.4rem;
  }
}
@mixin p5($color: $grey9, $ln: 1.67) {
  font-family: $mainFont;
  font-size: 2.4rem;
  color: $color;
  line-height: $ln;
  @media ($tablet) {
    font-size: 1.2rem;
  }
}
@mixin navLink($color: $white) {
  font-family: $titleFont;
  font-size: 1.6rem;
  color: $color;
  line-height: 0.88;
  text-decoration: none;
  cursor: pointer;
}
@mixin a1($color: $red5) {
  font-family: $mainFont;
  font-size: 2.8rem;
  color: $color;
  line-height: 1.43;
  cursor: pointer;
  @media ($tablet) {
    font-size: 1.4rem;
  }
}
@mixin a2($color: $red5, $ln: 1.67) {
  font-family: $mainFont;
  font-size: 2.4rem;
  color: $color;
  line-height: $ln;
  cursor: pointer;
  @media ($tablet) {
    font-size: 1.2rem;
  }
}
@mixin a3($color: $red5) {
  font-family: $mainFont;
  font-size: 2.2rem;
  color: $color;
  line-height: 2.18;
  cursor: pointer;
  @media ($tablet) {
    font-size: 1.1rem;
  }
}
%input {
  font-family: $mainFont;
  color: $grey5;
  font-size: 2.8rem;
  background-color: $lightGrey7;
  line-height: 1.29;
  padding: 1.1rem 1rem 1rem;
  width: 370px;
  height: 66px;
  box-shadow: inset 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #fffcfc;
  border-radius: 5px;
  @media ($tablet) {
    width: 185px;
    height: 33px;
    font-size: 1.4rem;
  }

  &::placeholder {
    color: $grey5;
  }
  &:focus {
    border: solid 1px $grey6;
    outline: none;
  }
}
%input__search {
  font-family: $mainFont;
  color: $grey8;
  font-size: 2.8rem;
  background-color: $dark3;
  line-height: 1;
  padding: 1.2rem 1rem;
  width: 396px;
  height: 68px;
  border-radius: 5px;
  box-shadow: inset 0px 5px 5px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #875f66;
  &::placeholder {
    color: $grey8;
  }
  &:focus {
    border: solid 1px $red5;
    outline: none;
  }
  @media ($tablet) {
    width: 198px;
    height: 34px;
    font-size: 1.4rem;
  }
}
%select {
  display: block;
  font-size: 2.8rem;
  color: $grey5;
  font-family: $mainFont;
  line-height: 1.29;
  box-sizing: border-box;
  padding-left: 1rem;
  width: 370px;
  height: 66px;
  border: solid 1px #a2a2a2;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $lightGrey7;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  background-size: 1rem auto;
  @media ($tablet) {
    width: 185px;
    height: 33px;
    font-size: 1.4rem;
  }
  &::-ms-expand {
    display: none;
  }
  &:focus {
    border: solid 1px $grey6;
    outline: none;
  }
}
%btn {
  display: inline-block;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.19);
  border: solid 5px #ffffff;
  background-image: linear-gradient(to top, #95161f, #b0252e);
  font-family: $mainFont;
  color: $white;
  line-height: 1.13;
  font-size: 3.2rem;
  width: 354px;
  height: 92px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  text-decoration: none;
  @media ($tablet) {
    width: 177px;
    height: 46px;
    font-size: 1.6rem;
  }
  &:hover {
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.5);
  }
  &:focus {
    outline: none;
  }
}
%btn__search {
  display: inline-block;
  width: 72px;
  height: 68px;
  background-color: $red2;
  background-image: url("../images/search@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  user-select: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: darken($red2, 7%);
  }
  &:focus {
    outline: none;
  }
  @media ($tablet) {
    width: 36px;
    height: 34px;
    background-image: url("../images/search.png");
  }
}
