//colors
$white: #fff;

$dark1: #40474f;
$dark2: #282d33;
$dark3: #24272d;
$dark4: #191c20;

$lightGrey1: #fefeff;
$lightGrey2: #f1f1f1;
$lightGrey3: #f3f3f3;
$lightGrey4: #d8dbde;
$lightGrey5: #d9dcdf;
$lightGrey6: #dedede;
$lightGrey7: #e3e4e5;

$grey1: #a5adb8;
$grey2: #9da4af;
$grey3: #989da1;
$grey4: #85898f;
$grey5: #757575;
$grey6: #656f7a;
$grey7: #6b6f74;
$grey8: #5b636e;
$grey9: #5c646e;

$red1: #d08b98;
$red2: #ae4b5d;
$red3: #9c4757;
$red4: #b0252e;
$red5: #95161f;

//fonts
$mainFont: Arial, sans-serif;
$titleFont: "arial-boldmt";

//screens
$tablet: "min-width: 767px";
$desktop: "min-width: 1024px";
$projector: "min-width:1200px";
